.card__visit {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    padding: 9px 35px;
}