.person__info {
    position: absolute;
    bottom: 30px;
    right: 5px;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 8px;
    padding: 10px 22px;
    overflow: hidden;
}